<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/10efa60a15.js" crossorigin="anonymous"></script>
  <title>TinyApp - View URL Details</title>
</head>

<body style="background-color:black; color: whitesmoke">
  <header>
    <%- include('partials/_header') %>
  </header>


  <% if(!user) { %>
    <div class="card text-center" style="background-color:rgb(80, 78, 78)">
      <div class="card-header"></div>
      <div class="card-body" style="background-color:black; color: whitesmoke">

        <h5 class="card-title">Tiny URL for: <a href="<%= longURL %>" data-toggle="tooltip" data-placement="top"
            title="<%= longURL %>" target="_blank">
            <%= longURL %>
          </a></h5>
        <p class="card-text">
          Tiny URL ID: <a href="/u/<%= id %>" data-toggle="tooltip" data-placement="top" title="<%= longURL %>"
            target="_blank">
            <%= id %>
          </a>
          <button onclick="myFunction()" data-toggle="tooltip" data-placement="top" title="Copy to Clipboard" style="background-color:rgb(7, 7, 89); color:rgb(242, 22, 22)" id="myInput"><i id="icon" class="fa-regular fa-clipboard"></i></button>
          <script>
            function myFunction() {
              const copyText = `localhost:1052/u/<%= id%>`;
              navigator.clipboard.writeText(copyText);
              document.getElementById('myInput').title = "Copied";
              document.getElementById('icon').className = 'fa-solid fa-check';
            }
          </script>
        </p>
      </div>
      <div class="card-footer text-muted"></div>
    </div>

    <% } else { %>
      <div class="card text-center" style="background-color:rgb(80, 78, 78)">
        <div class="card-header"></div>
        <div class="card-body" style="background-color:black; color: whitesmoke">
          <div style="width: 20%; float:left">
            <form class="text-left" action="/urls" method="POST">
              <button type="submit" class="btn text-nowrap" data-toggle="tooltip" data-placement="top"
                title="Back to My URLs" style="background-color:rgb(7, 7, 89); color:rgb(242, 22, 22)"><i
                  class="fa-regular fa-circle-left"></i> Back to My URLs</button>
            </form>
          </div>
          <div style="width: 80%; float:right">
            <form id="myform" action="/urls/<%= id %>/delete/?_method=DELETE" method="POST"></form>
            <form class="text-right" action="/urls/<%= id %>/edit" method="POST">
              <button type="submit" class="btn" data-toggle="tooltip" data-placement="top" title="Edit"
                style="background-color:rgb(7, 7, 89); color:rgb(242, 22, 22)"><i
                  class="fa-solid fa-pen-to-square"></i></button>
              <button form="myform" type="submit" class="btn" data-toggle="tooltip" data-placement="top" title="Delete"
                style="background-color:rgb(242, 22, 22); color:black"><i class="fa-solid fa-trash-can"></i></button>
            </form>
          </div>
          <h5 class="card-title">Tiny URL for: <a href="<%= longURL %>" data-toggle="tooltip" data-placement="top"
              title="<%= longURL %>" target="_blank">
              <%= longURL %>
            </a></h5>
          <p class="card-text">
            Tiny URL ID: <a href="/u/<%= id %>" data-toggle="tooltip" data-placement="top" title="<%= longURL %>" target="_blank">
              <%= id %>
            </a>
        <button onclick="myFunction()" data-toggle="tooltip" data-placement="top" title="Copy to Clipboard" style="background-color:rgb(7, 7, 89); color:rgb(242, 22, 22)" id="myInput"><i id="icon" class="fa-regular fa-clipboard"></i></button>
          <script>
            function myFunction() {
              const copyText = `localhost:1052/u/<%= id%>`;
              navigator.clipboard.writeText(copyText);
              document.getElementById('myInput').title = "Copied";
              document.getElementById('icon').className = 'fa-solid fa-check';
            }
          </script>
          </p>


        </div>
      <div class="card-footer text-muted"></div>
    </div>
      <div class="card-footer text-muted"></div>

      <% if (access === "valid") { %>
      <div class="row justify-content-center">
      <div class="card justify-content-center" style="background-color:rgb(80, 78, 78); width: 40em">
        <div class="card-header justify-content-center"></div>
        <div class="card-body" style="background-color:black; color: whitesmoke">

          <div id="analytics" class="carousel slide" data-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-target="#analytics" data-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-target="#analytics" data-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-target="#analytics" data-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active text-center" data-interval="8000">
            <div style="color: #ff8000">
              <h4 class="mb-3">Tiny URL ID: <%= id %></h4>
              <p style="color: rgb(131, 132, 129)">Date Created: <%= dateCreated %></p>
              <p style="color: rgb(131, 132, 129)">Date Modified: <%= dateModified %></p>
              <p style="color: rgb(131, 132, 129)">Total Visits: <%= visit %></p>
            </div>
          </div>
          <div class="carousel-item text-center" data-interval="5000">
            <h4 class="mb-3" style="color: #ff8000">Tiny URL ID: <%= id %></h4>
            <div class="row justify-content-center">
              <table class="table text-center table-sm table-striped table-dark table-hover border border-dark border-rounded "
              style="width: 200px;">
              <thead>
                <tr>
                  <th class="align-middle blockquote text-nowrap text-center" style="color: rgb(131, 132, 129); width: 70px;" scope="col">User</th>
                  <th class="align-middle blockquote text-nowrap text-center" style="color: rgb(131, 132, 129); width: 70px;" scope="col">No. Visits</th>
                </tr>
              </thead>
              <tbody>
                <% for (let id in datalog) { %>
                  <tr>
                    <td class="align-middle text-center" data-interval="5000" style="color: rgb(131, 132, 129)">
                      <%= id %>
                    </td>
                    <td class="align-middle text-center" style="color: rgb(131, 132, 129)">
                      <%= datalog[id] %>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
            </div>
          </div>
          
          <div class="carousel-item text-center">
            <h4 class="mb-3" style="color: #ff8000">Tiny URL ID: <%= id %></h4>
            <p style="color: rgb(131, 132, 129)">* Represents Unregistered User</p>
            <div class="row justify-content-center">
              <table class="table text-center table-sm table-striped table-dark table-hover border border-dark border-rounded "
              style="width: 300px;">
              <thead>
                <tr>
                  <th class="align-middle blockquote text-nowrap text-center" style="color: rgb(131, 132, 129); width: 70px;" scope="col">UserID</th>
                  <th class="align-middle blockquote text-nowrap text-center" style="color: rgb(131, 132, 129); width: 70px;" scope="col">Visit Log</th>
                </tr>
              </thead>
              <tbody>
                <% for (let item of runninglog) { %>
                  <tr>
                    <td class="align-middle text-center" style="color: rgb(131, 132, 129)">
                      <%= item.userID %>
                    </td>
                    <td class="align-middle text-center" style="color: rgb(131, 132, 129)">
                      <%= item.dateCreated %>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
            </div>
          </div>

        <button class="carousel-control-prev" type="button" data-target="#analytics" data-slide="prev" style="background-color:black">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#analytics" data-slide="next" style="background-color:black">
          <span class="visually-hidden">Next</span>
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
  </div>
</div>
      <div class="card-footer text-muted"></div>
    </div>
  </div>
      <% } %>
      <% } %>

      <footer>
        <%- include('partials/_footer') %>
      </footer>

        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
</body>

</html>