<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/10efa60a15.js" crossorigin="anonymous"></script>
  <title>TinyApp - URL Edit</title>
</head>

<body style="background-color:black; color: whitesmoke">
  <header>
    <%- include('partials/_header') %>
  </header>

  <% if (!invalid) { %>
  
    <div class="card text-center" style="background-color:rgb(80, 78, 78)">
    <div class="card-header"></div>
    <div class="card-body" style="background-color:black; color: whitesmoke">
      <div style="width: 20%; float:left">
        <form class="text-left" action="/urls/<%= id %>/view" method="POST">
          <button type="submit" class="btn" data-toggle="tooltip" data-placement="top" title="Cancel Changes"
            style="background-color:rgb(7, 7, 89); color:rgb(242, 22, 22)"><i class="fa-regular fa-circle-left"></i>
            Cancel</button>
        </form>
      </div>
      <div style="width: 80%; float:right">
        <form id="myform" action="/urls/<%= id %>/delete/?_method=DELETE" method="POST"></form>
        <form class="text-right" action="/urls/<%= id %>/edit" method="POST">
          <button form="myform" type="submit" class="btn" data-toggle="tooltip" data-placement="top" title="Delete"
            style="background-color:rgb(242, 22, 22); color:black"><i class="fa-solid fa-trash-can"></i></button>
        </form>
      </div>
      <h5 class="card-title">Tiny URL for: <a href="<%= longURL %>" data-toggle="tooltip" data-placement="top"
          title="<%= longURL %>" target="_blank">
          <%= longURL %>
        </a></h5>
      <p class="card-text">
        Tiny URL ID: <a href="/u/<%= id %>" data-toggle="tooltip" data-placement="top" title="<%= longURL %>"
          target="_blank">
          <%= id %>
        </a>
      </p>
      <form class="form-inline blockquote row justify-content-center needs-validation" action="/urls/<%= id %>/update/?_method=PUT" method="POST">
        <div class="form-group mb-2">
          <label for="longURL">Enter New URL:</label>
          <input class="form-control mx-sm-3" type="text" name="longURL" placeholder="http://"
            style="width: 300px; margin: 1em" required>
          <button type="submit" class="btn" style="background-color:#ff8000; color:black">Submit</button>
        </div>
      </form>
    </div>
    <div class="card-footer text-muted"></div>
  </div>

  <% } else { %>

    <div class="card text-center" style="background-color:rgb(80, 78, 78)">
      <div class="card-header"></div>
      <div class="card-body" style="background-color:black; color: whitesmoke">
        <div style="width: 20%; float:left">
          <form class="text-left" action="/urls/<%= id %>/view" method="POST">
            <button type="submit" class="btn" data-toggle="tooltip" data-placement="top" title="Cancel Changes"
              style="background-color:rgb(7, 7, 89); color:rgb(242, 22, 22)"><i class="fa-regular fa-circle-left"></i>
              Cancel</button>
          </form>
        </div>
        <div style="width: 80%; float:right">
          <form id="myform" action="/urls/<%= id %>/delete/?_method=DELETE"  method="POST"></form>
          <form class="text-right" action="/urls/<%= id %>/edit" method="POST">
            <button form="myform" type="submit" class="btn" data-toggle="tooltip" data-placement="top" title="Delete"
              style="background-color:rgb(242, 22, 22); color:black"><i class="fa-solid fa-trash-can"></i></button>
          </form>
        </div>
        <h5 class="card-title">Tiny URL for: <a href="<%= longURL %>" data-toggle="tooltip" data-placement="top"
            title="<%= longURL %>" target="_blank">
            <%= longURL %>
          </a></h5>
        <p class="card-text">
          Tiny URL ID: <a href="/u/<%= id %>" data-toggle="tooltip" data-placement="top" title="<%= longURL %>"
            target="_blank">
            <%= id %>
          </a>
        </p>
        <form class="form-inline blockquote row justify-content-center needs-validation" action="/urls/<%= id %>/update/?_method=PUT" method="POST">
          <div class="form-group mb-2">
            <label for="longURL">Enter New URL:</label>
            <input class="form-control mx-sm-3 border-danger" type="text" name="longURL" placeholder="http://"
              style="width: 300px; background-color:rgb(249, 185, 185); margin: 1em" required>
            <button type="submit" class="btn" style="background-color:#ff8000; color:black">Submit</button>
          </div>
        </form>
        <span class="form-text font-size: small justify-content-center" style="color: rgb(243, 18, 18)">Invalid URL.
        </span>
      </div>
      <div class="card-footer text-muted"></div>
    </div>


    <% } %>


  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>