<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/10efa60a15.js" crossorigin="anonymous"></script>
  <title>TinyApp</title>
</head>

<body style="background-color:black; color: whitesmoke">
  <header>
    <%- include('partials/_header') %>
  </header>
  <main style="margin: 2em;">
    <h3>My URLs</h3>
    <div class="row">
      <div class="column 1"></div>
      <table class="table table-sm table-striped table-dark table-hover border border-dark"
        style="width: 1000px; margin: 2em;">
        <thead>
          <tr>
            <th class="align-middle blockquote text-nowrap" style="width: 150px;" scope="col">Tiny URL ID</th>
            <th class="align-middle blockquote" style="width: 250px;" scope="col">Long URL</th>
            <th class="align-middle blockquote text-center" style="width: 75px;" scope="col">Edit</th>
            <th class="align-middle blockquote text-center" style="width: 75px;" scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% for (let id in urls) { %>
            <tr>
              <td class="align-middle">
                <form action="/urls/<%= id %>/view" method="POST">
                  <button type="submit" class="btn" data-toggle="tooltip" data-placement="top" title="View Tiny URL <%= id %> Details" style="background-color:rgb(7, 7, 89); color:rgb(242, 22, 22)"><i class="fa-solid fa-magnifying-glass"></i> </button> 
                  <a href="/urls/<%= id %>/" style="color:rgb(231, 246, 246)" tooltip" data-placement="top" title="View Tiny URL <%= id %> Details"><%= id %>
                  </a>
                </form>
              </td>
              <td class="align-middle" style="color:rgb(231, 246, 246)">
                <%= urls[id] %>
              </td>
              <td class="align-middle blockquote text-center">
                <form action="/urls/<%= id %>/edit" method="POST">
                  <button type="submit" class="btn" data-toggle="tooltip" data-placement="top" title="Edit" style="background-color:rgb(7, 7, 89); color:rgb(242, 22, 22)"><i class="fa-solid fa-pen-to-square"></i></button>
                </form>
              </td>
              <td class="align-middle blockquote text-center">
                <form action="/urls/<%= id %>/delete" method="POST">
                  <button type="submit" class="btn" data-toggle="tooltip" data-placement="top" title="Delete Tiny URL <%= id %>" style="background-color:rgb(242, 22, 22); color:black"><i
                      class="fa-solid fa-trash-can"></i></button>
                </form>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>
    <div class="column 2"></div>
    </div>
  </main>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>