<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/10efa60a15.js" crossorigin="anonymous"></script>
  <title>New URL - TinyApp Example</title>
</head>

<body style="background-color:black; color: whitesmoke">
  <header>
    <%- include('partials/_header') %>
  </header>

  <% if(newuseremail && newusername) { %>
    <div class="card w-50" style="margin: 2em; background-color: black; color: whitesmoke">
      <div style="width: 20%; float:left">
        <form class="text-left" action="/userprofile" method="POST">
          <button type="submit" class="btn text-nowrap" data-toggle="tooltip" data-placement="top"
            title="Back to My URLs" style="background-color:rgb(7, 7, 89); color:rgb(242, 22, 22)"><i
              class="fa-regular fa-circle-left"></i> Cancel</button>
        </form>
      </div>
      <div class="card-body">
        <h4 class="card-title">Edit User Information</h4>

        <form class="row g-3 justify-content-center needs-validation" action="/profileupdate/?_method=PUT" method="POST">
          <div class="col-md-4">
            <label for="firstname" class="form-label">First Name<span aria-label="required"
                style="color:red">*</span></label>
            <input type="firstname" class="form-control" name="firstname" value="<%= user.firstname %>" required
              minlength="2">
          </div>
          <div class="col-md-4">
            <label for="lastname" class="form-label">Last Name<span aria-label="required"
                style="color:red">*</span></label>
            <input type="lastname" class="form-control mb-3" name="lastname" value="<%= user.lastname %>" required
              minlength="2">
          </div>
          <div class="col-md-4">
            <label for="username" class="form-label">Username<span aria-label="required"
                style="color:red">*</span></label>
            <input type="username" class="form-control border-danger" name="username" value="<%= newusername %>"
              style="background-color:rgb(249, 185, 185)" required minlength="3">
            <span id="passwordHelpInline" class="form-text font-size: small mb-3"
              style="color: rgb(243, 18, 18)">Username Already Exists.
            </span>
          </div>

          <div class="col-md-6">
            <label for="email" class="form-label">Email<span aria-label="required" style="color:red">*</span></label>
            <input type="email" class="form-control border-danger" name="email" value="<%= newuseremail %>"
              style="background-color:rgb(249, 185, 185)" required>
            <span id="passwordHelpInline" class="form-text font-size: small mb-3" style="color: rgb(243, 18, 18)">Email
              Already Exists.
            </span>
          </div>
          <div class="col-md-6">
            <label for="password" class="form-label">Password<span aria-label="required"
                style="color:red">*</span></label>
            <label type="password" class="form-control" style="background-color:rgb(200, 200, 203)"
              name="password">**********</label>
            </span>
          </div>
          <div class="col-12">
            <label for="inputAddress" class="form-label">Address</label>
            <input type="address" class="mb-3 form-control" name="address1" value="<%= user.address1 %>" />
          </div>
          <div class="col-12">
            <label for="inputAddress2" class="form-label">Address 2</label>
            <input type="address2" class="mb-3 form-control" name="address2" value="<%= user.address2 %>" />
          </div>
          <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="city" class="mb-5 form-control" name="city" value="<%= user.city %>" />
          </div>
          <div class="col-md-3">
            <label for="inputProv" class="form-label">Province</label>
            <select name="province" class="form-select form-control">
              <option selected>
                <%= user.province %>
              </option>
              <option value="AB">AB</option>
              <option value="BC">BC</option>
              <option value="MB">MB</option>
              <option value="NB">NB</option>
              <option value="NL">NL</option>
              <option value="NS">NS</option>
              <option value="NT">NT</option>
              <option value="NU">NU</option>
              <option value="ON">ON</option>
              <option value="PE">PE</option>
              <option value="QC">QC</option>
              <option value="SK">SK</option>
              <option value="YT">YT</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="inputPostalCode" class="form-label">Postal Code</label>
            <input type="postal" class="form-control" name="postalcode" value="<%= user.postalcode %>" />
          </div>
          <div class="col-12 mb-3">
            <button type="submit" class="btn" style="background-color:#ff8000; color:black">Update Account</button>
          </div>
        </form>
      </div>
    </div>


    <% } else if (newuseremail) { %>
      <div class="card w-50" style="margin: 2em; background-color: black; color: whitesmoke">
        <div style="width: 20%; float:left">
          <form class="text-left" action="/userprofile" method="POST">
            <button type="submit" class="btn text-nowrap" data-toggle="tooltip" data-placement="top"
              title="Back to My URLs" style="background-color:rgb(7, 7, 89); color:rgb(242, 22, 22)"><i
                class="fa-regular fa-circle-left"></i> Cancel</button>
          </form>
        </div>
        <div class="card-body">
          <h4 class="card-title">Edit User Information</h4>

          <form class="row g-3 justify-content-center needs-validation" action="/profileupdate/?_method=PUT" method="POST">
            <div class="col-md-4">
              <label for="firstname" class="form-label">First Name<span aria-label="required"
                  style="color:red">*</span></label>
              <input type="firstname" class="form-control" name="firstname" value="<%= user.firstname %>" required
                minlength="2">
            </div>
            <div class="col-md-4">
              <label for="lastname" class="form-label">Last Name<span aria-label="required"
                  style="color:red">*</span></label>
              <input type="lastname" class="form-control mb-3" name="lastname" value="<%= user.lastname %>" required
                minlength="2">
            </div>
            <div class="col-md-4">
              <label for="username" class="form-label">Username<span aria-label="required"
                  style="color:red">*</span></label>
              <input type="username" class="form-control" name="username" value="<%= user.username %>" required
                minlength="3">
            </div>

            <div class="col-md-6">
              <label for="email" class="form-label">Email<span aria-label="required" style="color:red">*</span></label>
              <input type="email" class="form-control border-danger" name="email" value="<%= newuseremail %>"
                style="background-color:rgb(249, 185, 185)" required>
              <span id="passwordHelpInline" class="form-text font-size: small mb-3"
                style="color: rgb(243, 18, 18)">Email Already Exists.
              </span>
            </div>
            <div class="col-md-6">
              <label for="password" class="form-label">Password<span aria-label="required"
                  style="color:red">*</span></label>
              <label type="password" class="form-control" style="background-color:rgb(200, 200, 203)"
                name="password">**********</label>
              </span>
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Address</label>
              <input type="address" class="mb-3 form-control" name="address1" value="<%= user.address1 %>" />
            </div>
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Address 2</label>
              <input type="address2" class="mb-3 form-control" name="address2" value="<%= user.address2 %>" />
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">City</label>
              <input type="city" class="mb-5 form-control" name="city" value="<%= user.city %>" />
            </div>
            <div class="col-md-3">
              <label for="inputProv" class="form-label">Province</label>
              <select name="province" class="form-select form-control">
                <option selected>
                  <%= user.province %>
                </option>
                <option value="AB">AB</option>
                <option value="BC">BC</option>
                <option value="MB">MB</option>
                <option value="NB">NB</option>
                <option value="NL">NL</option>
                <option value="NS">NS</option>
                <option value="NT">NT</option>
                <option value="NU">NU</option>
                <option value="ON">ON</option>
                <option value="PE">PE</option>
                <option value="QC">QC</option>
                <option value="SK">SK</option>
                <option value="YT">YT</option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="inputPostalCode" class="form-label">Postal Code</label>
              <input type="postal" class="form-control" name="postalcode" value="<%= user.postalcode %>" />
            </div>
            <div class="col-12 mb-3">
              <button type="submit" class="btn" style="background-color:#ff8000; color:black">Update Account</button>
            </div>
          </form>
        </div>
      </div>

      <% } else { %>

        <div class="card w-50" style="margin: 2em; background-color: black; color: whitesmoke">
          <div style="width: 20%; float:left">
            <form class="text-left" action="/userprofile" method="POST">
              <button type="submit" class="btn text-nowrap" data-toggle="tooltip" data-placement="top"
                title="Back to My URLs" style="background-color:rgb(7, 7, 89); color:rgb(242, 22, 22)"><i
                  class="fa-regular fa-circle-left"></i> Cancel</button>
            </form>
          </div>
          <div class="card-body">
            <h4 class="card-title">Edit User Information</h4>

            <form class="row g-3 justify-content-center needs-validation" action="/profileupdate/?_method=PUT" method="POST">
              <div class="col-md-4">
                <label for="firstname" class="form-label">First Name<span aria-label="required"
                    style="color:red">*</span></label>
                <input type="firstname" class="form-control" name="firstname" value="<%= user.firstname %>" required
                  minlength="2">
              </div>
              <div class="col-md-4">
                <label for="lastname" class="form-label">Last Name<span aria-label="required"
                    style="color:red">*</span></label>
                <input type="lastname" class="form-control mb-3" name="lastname" value="<%= user.lastname %>" required
                  minlength="2">
              </div>
              <div class="col-md-4">
                <label for="username" class="form-label">Username<span aria-label="required"
                    style="color:red">*</span></label>
                <input type="username" class="form-control border-danger" name="username" value="<%= newusername %>"
                  style="background-color:rgb(249, 185, 185)" required minlength="3">
                <span id="passwordHelpInline" class="form-text font-size: small mb-3"
                  style="color: rgb(243, 18, 18)">Username Already Exists.
                </span>
              </div>

              <div class="col-md-6">
                <label for="email" class="form-label">Email<span aria-label="required"
                    style="color:red">*</span></label>
                <input type="email" class="form-control" name="email" value="<%= user.email %>" required>
              </div>
              <div class="col-md-6">
                <label for="password" class="form-label">Password<span aria-label="required"
                    style="color:red">*</span></label>
                <label type="password" class="form-control" style="background-color:rgb(200, 200, 203)"
                  name="password">**********</label>
                </span>
              </div>
              <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="address" class="mb-3 form-control" name="address1" value="<%= user.address1 %>" />
              </div>
              <div class="col-12">
                <label for="inputAddress2" class="form-label">Address 2</label>
                <input type="address2" class="mb-3 form-control" name="address2" value="<%= user.address2 %>" />
              </div>
              <div class="col-md-6">
                <label for="inputCity" class="form-label">City</label>
                <input type="city" class="mb-5 form-control" name="city" value="<%= user.city %>" />
              </div>
              <div class="col-md-3">
                <label for="inputProv" class="form-label">Province</label>
                <select name="province" class="form-select form-control">
                  <option selected>
                    <%= user.province %>
                  </option>
                  <option value="AB">AB</option>
                  <option value="BC">BC</option>
                  <option value="MB">MB</option>
                  <option value="NB">NB</option>
                  <option value="NL">NL</option>
                  <option value="NS">NS</option>
                  <option value="NT">NT</option>
                  <option value="NU">NU</option>
                  <option value="ON">ON</option>
                  <option value="PE">PE</option>
                  <option value="QC">QC</option>
                  <option value="SK">SK</option>
                  <option value="YT">YT</option>
                </select>
              </div>
              <div class="col-md-3">
                <label for="inputPostalCode" class="form-label">Postal Code</label>
                <input type="postal" class="form-control" name="postalcode" value="<%= user.postalcode %>" />
              </div>
              <div class="col-12 mb-3">
                <button type="submit" class="btn" style="background-color:#ff8000; color:black">Update Account</button>
              </div>
            </form>
          </div>
        </div>

        <% } %>


          <!-- Bootstrap JS -->
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>